[submodule "bike-brain"]
	path = bike-brain
	url = git@github.com:p0ntan/vteam-bike-brain.git
[submodule "server"]
	path = server
	url = git@github.com:JuliaLind/vteam-server.git
[submodule "admin-web-client"]
	path = admin-web-client
	url = git@github.com:kiwijos/admin-web-client.git
[submodule "user-web-client"]
	path = user-web-client
	url = git@github.com:kiwijos/user-web-client.git
